{% extends "base.html" %}

{% block title %} - What We Do{% endblock %}

{% block content %}

{% include "header.html" %}

<!-- Wrap -->
<div class="wrap container" role="document">
    {% include 'messages.html' %}
    <!-- Content -->
    <div class="content row">
        <!-- Main -->
        <div class="main col-sm-12" role="main">
            <div class="page-header">
                <h1>What Do We Do?</h1>
            </div>
            <div class="page-main">
              We provide Sellers with the ability to easily request Vehicle Inspections provided by our professional Mechanics. Our Inspections include three main features: a 95 point Inspection, a Video Inpsection, and the Vehicle's Car History.
            </div>
        </div><!-- /.main -->
    </div><!-- /.content -->
</div><!-- /.wrap -->

{% endblock %}
