{% load staticfiles %}
{% load add_css %}

<div id="inspection_modal" class="modalDialog">
	<div>
		<div title="Close" class="close">X</div>

		<p>You must pay to view this inspection! (Please change this text)</p>

		<form id="inspection_select_form" method="POST" action="{% url 'pay_to_view' %}">
		{% csrf_token %}
		{% for field in receipt_form %}
		{% if field|gettype != "HiddenInput" %}
		    <div class="form-group">
		        {{ field.errors }}
		        {{ field.label_tag }}
		        {{ field|addcss:"class: form-control" }} {{ field.help_text }}
		    </div>
	    {% else %}
	    	{{ field }}
	    {% endif %}
		{% endfor %}
		<script src="https://checkout.stripe.com/checkout.js"></script>
		<input id="stripeButton" type="submit" value="Pay" disabled>
		{# <button id="stripeButton" type="submit" disabled>Pay</button> #}
		<script type="text/javascript">
			var option1 = {{ option1 }};
			var option2 = {{ option2 }};
			var option3 = {{ option3 }};
			var image = "{% static "img/NL yellow-icon.png" %}";
		</script>
		</form>
	</div>
</div>
