{% load staticfiles %}
{% load add_css %}

<div id="inspection_modal" class="modalDialog">
	<div>
		<div title="Close" class="close">X</div>

		<p>You must pay to view this inspection! (Please change this text)</p>

		<form id="inspection_select_form" method="POST" action="{% url 'pay_to_view' %}">
			{% csrf_token %}
			{% for field in receipt_form %}
			{% if field|gettype != "HiddenInput" %}
			    <div class="form-group">
			        {{ field.errors }}
			        {{ field.label_tag }}
			        {{ field|addcss:"class: form-control" }} {{ field.help_text }}
			    </div>
		    {% else %}
		    	{{ field }}
		    {% endif %}
			{% endfor %}
<!-- 			<div id="stripe_area">
				<script
				  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
				  data-key="pk_test_3aCn8J9IdHtqTUaCMWrABmQI"

				  data-amount="20000"
				  data-name="NoLemon"
				  data-description="1 Inspection ($200.00)"
				  data-image="{% static "img/NL yellow-icon.png" %}">
				</script>
			</div> -->

			<script src="https://checkout.stripe.com/checkout.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
			<link href="https://checkout.stripe.com/v3/checkout/button.css" rel="stylesheet">
			<button class="stripe-button-el" id="customButton">
				<span style="display: block; min-height: 30px;">Pay with Card</span>
			</button>

			<script type="text/javascript">
				var option1 = {{ option1 }};
				var option2 = {{ option2 }};
				var option3 = {{ option3 }};
				var image = "{% static "img/NL yellow-icon.png" %}";
			</script>
		</form>
	</div>
</div>
