{% extends "base.html" %}

{% load static %}
{% load add_css %}

{% block title %} - Login or Register with NoLemon{% endblock %}

{% block content %}

{% include 'snippets/header.html' %}

<!-- Wrap -->
<div class="wrap container" role="document">
    {% include 'snippets/messages.html' %}
    <!-- Content -->
    <div class="content row">

        <!-- Main Register -->
        <div class="main col-sm-6" role="main">
            <div class="page-header">
                <p><h2>New to NoLemon?</h2></p>
                <p><h2>Register Here:</h2></p>
            </div>
            <div class="page-main">
                <form id="user_form" method="post" action="{% url 'register' %}">
                    {% csrf_token %}
                    {% for field in reg_form %}
                        <div class="form-group">
                            {{ field.errors }}
                            {{ field.label_tag }}
                            {{ field|addcss:"class: form-control" }} {{ field.help_text }}
                        </div>
                    {% endfor %}
                    <input type="submit" class="btn btn-primary" name="reg_form" value="Register" />
                </form>
            </div>
        </div><!-- /.main -->

        <!-- Main Login -->
        <div class="main col-sm-6" role="main">
            <div class="page-header">
                <p><h2>Already have a NoLemon account?</h2></p>
                <p><h2>Login Here:</h2></p>
            </div>
            <div class="page-main">
                <form id="login_form" method="post" action="{% url 'register' %}">
                    {% csrf_token %}
                    {% for field in login_form %}
                        <div class="form-group">
                            {{ field.errors }}
                            {{ field.label_tag }}
                            {{ field|addcss:"class: form-control" }} {{ field.help_text }}
                        </div>
                    {% endfor %}
                    <input type="submit" class="btn btn-primary" name="login_form" value="Login" />
                </form>
            </div>
        </div><!-- /.main -->

    </div><!-- /.content -->
</div><!-- /.wrap -->

{% endblock %}

{% block scripts %}
<!--<script type="text/javascript" src="{% static "js/registration.js" %}"></script>-->
{% endblock %}
