{% extends "base.html" %}
{% load static %}

{% block title %} - Mechanic Detail{% endblock %}

{% block head_content %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-vNlhTCDa-R9HRfEmquZdIXIGmEp_Kuo">
</script>
<script type="text/javascript" src="{% static 'google_maps.js' %}">
</script>
{% endblock %}

{% block content %}

{% include 'header.html' %}

<!-- Wrap -->
<div class="wrap container" role="document">
  {% include 'snippets/messages.html' %}
  <!-- Content -->
  <div class="content row">
    <!-- Main -->
    <div class="main col-sm-8" role="main">

      <div class="page-header">
        <h1>
          {% if mechanic and not mechanic.email == user.email%}
            Location
          {% else %}
            Dashboard
          {% endif %}
        </h1>
      </div>

      <div class="page-main">

          <div class="row"><div class="col-md-12">
            {% if mechanic and not mechanic.email == user.email%}
              <h2>Google Maps</h2>
              <p>Interactive map displaying mechanic's location.</p>
              <div style="height: 640px; width: 640px" id="map-canvas"></div>
            {% else %}
              <h2>Inspections</h2>
              <p>The following inspections are pending.</p>
              <ul>
                {% for inspection in inspections_pend %}
                  <li>
                    Vehicle VIN: <a href="{% url 'vehicle_detail' inspection.vehicle.vin %}">{{ inspection.vehicle.vin }}</a>
                    Seller: <a href="{% url 'seller_detail' inspection.vehicle.owner.pk %}"> {{ inspection.vehicle.owner.get_full_name }}</a>
                    Update: <a href="{% url 'update_inspection' inspection.pk %}">Click Here</a>
                    {% if inspection.video == "" %}
                        Needs Video
                    {% endif %}
                    {% if inspection.report == "" %}
                        Needs Report
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
              <p>The following inspections are completed.</p>
              <ul>
                {% for inspection in inspections_comp %}
                  <li>Vehicle VIN: <a href="{% url 'vehicle_detail' inspection.vehicle.vin %}">{{ inspection.vehicle.vin }}</a> Seller: <a href="{% url 'seller_detail' inspection.vehicle.owner.pk %}"> {{ inspection.vehicle.owner.get_full_name }}</a> Update: <a href="{% url 'update_inspection' inspection.pk %}">Click Here</a></li>
                {% endfor %}
              </ul>
            {% endif %}
          </div></div>

      </div>

    </div><!-- /.main -->

    <!-- Sidebar -->
    <aside class="sidebar col-sm-4" role="complementary">

      <section class="widget nav_menu-2 widget_nav_menu">
        <div>
          <h3>Mechanic Information</h3>
          <ul><li>
          <dl class="dl-horizontal">
            {% if mechanic %}
              <style>
                /* bs3 has limits on text, embiggen them */
                .dl-horizontal dt { width: 135px; }
                .dl-horizontal dd { margin-left: 155px;}
              </style>
              <dt>Email address:</dt><dd>{{ mechanic.email }}</dd>
              <dt>First name:</dt><dd>{{ mechanic.first_name }}</dd>
              <dt>Last name:</dt><dd>{{ mechanic.last_name }}</dd>
              <dt>Phone number:</dt><dd>{{ mechanic.phone_number }}</dd>
              <dt>Address:</dt><dd><a href="https://www.google.ca/maps/place/{{ intera_map }}">{{ mechanic.full_address }}</a></dd>
              <script type="text/javascript">
                addresses.push("{{ intera_map }}");
              </script>
            {% else %}
              <dt>You shouldn't be seeing this.</dt>
            {% endif %}
          </dl>
          </li></ul>
          {% if mechanic and mechanic.email == user.email%}
            <h3>Update Your Account</h3>
            <ul><li>
              <p><a href="{% url 'update_mechanic' %}">Click Here</a></p>
            </li></ul>
          {% endif %}
        </div>
      </section>

    </aside><!-- /.sidebar -->
  </div><!-- /.content -->
</div><!-- /.wrap -->

{% endblock %}
