{% load staticfiles %}

<!-- Navbar -->
<header class="banner navbar navbar-static-top" role="banner">
  <div class="container">

    <div class="navbar-header">

      <div class="navbar-brand">
        <a title="NoLemon" href="/" draggable="false"><img width="225px" src="{% static 'img/NoLemon Yellow.png' %}" alt="NoLemon" draggable="false"/></a>
      </div>

      <button data-target=".nav-responsive" data-toggle="collapse" type="button" class="navbar-toggle">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>

    <nav class="nav-main hidden-xs" role="navigation">
      <ul id="menu-main" class="nav navbar-nav">
        <!-- TODO: fix me, find out which page, make link active class -->
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">What We Do</a></li>
        <li><a href="{% url 'mechanic_list' %}">Our Mechanics</a></li>
        <li><a href="{% url 'contact' %}">Contact Us</a></li>
        {% if user.is_authenticated %}
            <!-- TODO: fix me, generalize to all users -->
            <li class="dropdown">
                <a class="dropdown-toggle" href='#'>Welcome, {{ user.first_name }}</a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'seller_detail' user.pk %}">Your Account</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </li>
        {% else %}
            <li><a href="{% url 'register' %}">Login/Register</a></li>
        {% endif %}
      </ul>
    </nav>

    <!-- Responsive Nav -->
    <div class="visible-xs">
      <nav class="nav-responsive collapse" role="navigation">
        <ul class="nav">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">What We Do</a></li>
            <li><a href="{% url 'mechanic_list' %}">Our Mechanics</a></li>
            <li><a href="{% url 'contact' %}">Contact Us</a></li>
            {% if user.is_authenticated %}
                <!-- TODO: fix me, generalize to all users -->]
                <li><a href="{% url 'seller_detail' user.pk %}">Welcome, {{ user.first_name }}</a></li>
                <li><a class="responsive-submenu" href="{% url 'seller_detail' user.pk %}">Your Account</a></li>
                <li><a class="responsive-submenu" href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'register' %}">Login/Register</a></li>
            {% endif %}
        </ul>
      </nav>
    </div>

  </div>
</header>
<!-- End Navbar -->
