{% extends "base.html" %}

{% load staticfiles %}

{% block title %} - Seller Detail{% endblock %}

{% block content %}

{% include 'header.html' %}

<!-- Wrap -->
<div class="wrap container" role="document">
  {% include 'snippets/messages.html' %}
  <!-- Content -->
  <div class="content row">
    <!-- Main -->
    <div class="main col-sm-8" role="main">

      <div class="page-header">
        <h1>Seller's Vehicles</h1>
      </div>

      <div class="page-main">

          {% for vehicle in seller.vehicle_set.all %}
            <div class="row">
            <div class="col-md-4">
              {% if vehicle.photo %}
                <img src="{{ vehicle.photo.url }}" />
              {% else %}
                <img width="256px" src="{% static 'img/car-icon.png' %}" alt="NoLemon" draggable="false"/></a>
              {% endif %}
            </div>
            <div class="col-md-8">
              <p>VIN: <a href="{% url 'vehicle_detail' vehicle.vin %}">{{ vehicle.vin }}</a></p>
              <p>Make: {{ vehicle.make }} Model: {{ vehicle.model }} Year: {{ vehicle.year }}</p>
              <p style="margin-top: 5px"><a class="blog-more btn btn-xxs btn-primary" href="{% url 'vehicle_detail' vehicle.vin %}">Read more</a></p>
            </div>
            </div>
            <hr>
          {% empty %}
            <div class="row"><div class="col-md-12">
              There are no vehicles owned by this seller.
            </div></div>
          {% endfor %}

      </div>

    </div><!-- /.main -->

    <!-- Sidebar -->
    <aside class="sidebar col-sm-4" role="complementary">

      <section class="widget nav_menu-2 widget_nav_menu">
        <div>
          <h3>Seller Information</h3>
          <ul><li>
            <dl class="dl-horizontal">
              {% if seller %}
              <style>
                /* bs3 has limits on text, embiggen them */
                .dl-horizontal dt { width: 125px; }
                .dl-horizontal dd { margin-left: 145px;}
              </style>
                <dt>First name:</dt><dd>{{ seller.first_name }}</dd>
                <dt>Last name:</dt><dd>{{ seller.last_name }}</dd>
                <dt>Email address:</dt><dd>{{ seller.email }}</dd>
                <dt>City:</dt><dd>{{ seller.city }}</dd>
              {% else %}
                <dt>You shouldn't be seeing this.</dt>
              {% endif %}
            </dl>
          </li></ul>
          {% if seller and seller.email == user.email%}
            <h3>Update Your Account</h3>
            <ul><li>
              <p><a href="{% url 'update_seller' %}">Click Here</a></p>
            </li></ul>
          {% endif %}
        </div>
      </section>

    </aside><!-- /.sidebar -->
  </div><!-- /.content -->
</div><!-- /.wrap -->

{% endblock %}
