{% extends "base.html" %}
{% load static %}

{% block title %} - Mechanics{% endblock %}

{% block head_content %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-vNlhTCDa-R9HRfEmquZdIXIGmEp_Kuo">
</script>
<script type="text/javascript" src="{% static 'google_maps.js' %}">
</script>
{% endblock %}

{% block content %}

{% include 'header.html' %}

<!-- Wrap -->
<div class="wrap container" role="document">
  {% include 'messages.html' %}
  <!-- Content -->
  <div class="content row">
    <!-- Main -->
    <div class="main col-sm-8" role="main">

      <div class="page-header">
        <h1>Maps</h1>
      </div>

      <div class="page-main">

          <div class="row"><div class="col-md-12">
          {% if mechanics.count >= 1 %}
            <h2>Interactive</h2>
            <p>Interactive map displaying mechanics' location.</p>
            <div style="height: 640px; width: 640px" id="map-canvas"></div>
          {% else %}
            <h2>There are no mechanics here.</h2>
          {% endif %}
          </div></div>

      </div>

    </div><!-- /.main -->

    <!-- Sidebar -->
    <aside class="sidebar col-sm-4" role="complementary">

      <section class="widget nav_menu-2 widget_nav_menu">
        <div>
            <h3>Mechanic List</h3>
            <ul>
            {% for mechanic in mechanics %}
                <li>
                    <div  class="mechanic_li mech_select">
                      <strong>{{ mechanic.label }}</strong>
                      <div id="mech_id" style="display: none">{{ mechanic.id }}</div>
                      <div><b>Mechanic Name:</b> {{ mechanic.get_full_name }}</div>
                      <div><b>Address:</b> {{ mechanic.address }}</div>
                      <div><b>Phone Number:</b> {{ mechanic.phone_number }}</div>
                      <div><b>Email address:</b> <a href="{% url 'mechanic_detail' mechanic.pk %}">{{ mechanic.email }}</a>
                      </div>
                    <script type="text/javascript">
                        addresses.push("{{ intera_map.pop }}");
                        markerTitles.push("{{ mechanic.get_full_name }}");
                    </script>
                    </div>
                </li>
            {% empty %}
               <li>There are no mechanics here.</li>
            {% endfor %}
            </ul>
            <ul>
                <li><a href="#">Change Me</a></li>
            </ul>
        </div>
      </section>

    </aside><!-- /.sidebar -->
  </div><!-- /.content -->
</div><!-- /.wrap -->

{% endblock %}
