{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
	<h1>Search NoLemon for a vehicle inspection!</h1>
    <input type="text" name="vin-search" id="vin-search-bar" value="" placeholder="Enter a VIN">
    <input type="submit" name="" id="vin-search-btn" onclick=clickEvent() value="Search">

	<script type="text/javascript">
	clickEvent = function () {
		searchBar = document.getElementsByName('vin-search')[0];
		url = "vehicles/" + searchBar.value.toLowerCase();
		window.location.pathname = url;
	};
	</script>

{% endblock %}