{% extends "base.html" %}

{% load staticfiles %}
{% load add_css %}

{% block title %} - Register with NoLemon{% endblock %}

{% block content %}

{% include 'header.html' %}

<!-- Wrap -->
<div class="wrap container" role="document">
    {% include 'messages.html' %}
    <!-- Content -->
    <div class="content row">

        <!-- Main -->
        <div class="main col-sm-12" role="main">
            <div class="page-header">
                <h1>Register Here:</h1>
            </div>
            <div class="page-main">
                <form id="user_form" method="post" action="{% url 'register' %}">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.errors }}
                            {{ field.label_tag }}
                            {{ field|addcss:"class: form-control" }} {{ field.help_text }}
                        </div>
                    {% endfor %}
                    <input type="submit" class="btn btn-primary" id="form-btn" value="Register" />
                </form>
            </div>
        </div><!-- /.main -->

    </div><!-- /.content -->
</div><!-- /.wrap -->

{% endblock %}

{% block scripts %}
<!--<script type="text/javascript" src="{% static "js/registration.js" %}"></script>-->
{% endblock %}