{% extends "base.html" %}
{% load static %}

{% block title %} - Mechanic Detail{% endblock %}

{% block head_content %}
<link rel="stylesheet" type="text/css"
    href="{% static 'left_right.css' %}">
<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-vNlhTCDa-R9HRfEmquZdIXIGmEp_Kuo">
</script>
<script type="text/javascript"
    src="{% static 'google_maps.js' %}">
</script>
{% endblock %}

{% block content %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if mechanic %}
<div class="container">
    <p>Locations of mechanic: (right side is interactive)</p>
<div class="left">
    <img src="http://maps.googleapis.com/maps/api/staticmap?key=AIzaSyB-vNlhTCDa-R9HRfEmquZdIXIGmEp_Kuo&amp;size=640x640&amp;markers={{ static_map }}" alt="Mechanic map"/>
    <p>Email address: {{ mechanic.email }}</p>
    <p>First name: {{ mechanic.first_name }}</p>
    <p>Last name: {{ mechanic.last_name }}</p>
    <p>Phone number: {{ mechanic.phone_number }}</p>
    <p>Address: <a href="https://www.google.ca/maps/place/{{ intera_map }}">{{ mechanic.full_address }}</a></p>
    <script type="text/javascript">
        addresses.push("{{ intera_map }}");
    </script>
</div>
<div class="right">
    <div style="height: 640px; width: 640px" id="map-canvas"></div>
</div>
</div>
{% else %}
    <p>You shouldn't be seeing this</p>
{% endif %}

{% endblock %}
