{% extends "base.html" %}

{% block title %} - Vehicle Detail{% endblock %}

{% block content %}

{% if vehicle %}
    <p>VIN: {{ vehicle.vin }}</p>
    <p>Owner: <a href="/sellers/{{ vehicle.owner }}">{{ vehicle.owner }}</a></p>
    <p>Make: {{ vehicle.make }}</p>
    <p>Year: {{ vehicle.year }}</p>
    {% for inspection in vehicle.inspection_set.all %}
        <p>Inspection: <a href="/inspections/{{ inspection.pk }}">{{ inspection.date }}</a></p>
    {% empty %}
        <p>There are no inspections for this vehicle.</p>
    {% endfor %}
{% else %}
    <p>You shouldn't be seeing this</p>
{% endif %}

{% endblock %}
