{% extends "base.html" %}

{% block title %} - Mechanic Detail{% endblock %}

{% block head_content %}
<style type="text/css">
    .container
    {
        width: 100%;
    }
    .left
    {
        float: left;
        width: 40%;
    }
    .right
    {
        margin-left: 40%;
    }
</style>

<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-vNlhTCDa-R9HRfEmquZdIXIGmEp_Kuo">
</script>
<script type="text/javascript">
    var geocoder;
    var map;
    var markers;

    function initialize() {
        markers = [];
        geocoder = new google.maps.Geocoder();
        // edmonton,ab
        var latlng = new google.maps.LatLng(53.5333, -113.5000);
        var mapOptions = {
            zoom: 11, // arbitrary
            center: latlng
        }
        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        codeAddress("{{ intera_map }}");

        // let geocode locations load before centering the map
        sleep(1000, centerMap);
    }

    function centerMap() {
        var fullBounds = new google.maps.LatLngBounds();
        for(var i = 0; i < markers.length; i++) {
            fullBounds.extend(markers[i].position);
        }
        map.fitBounds(fullBounds);

        var mSum = 0;
        var mZoom = map.getZoom();
        mSum = parseInt(mZoom) - 8;
        map.setZoom(mSum);
    }

    function codeAddress(address) {
        geocoder.geocode({'address': address}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                addMarker(results[0].geometry.location);
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }

    function addMarker(location) {
        var marker = new google.maps.Marker({
            map: map,
            position: location
        });
        markers.push(marker);
    }

    function sleep(millis, callback) {
        setTimeout(function() { callback(); }, millis);
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% endblock %}

{% block content %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if mechanic %}
<div class="container">
<div class="left">
    <img src="http://maps.googleapis.com/maps/api/staticmap?key=AIzaSyB-vNlhTCDa-R9HRfEmquZdIXIGmEp_Kuo&amp;size=640x640&amp;markers={{ mechanic.address.split|join:"+" }}+{{ mechanic.city.split|join:"+" }}+{{ mechanic.province.split|join:"+" }}" alt="Mechanic map"/>
    <p>Email address: {{ mechanic.email }}</p>
    <p>First name: {{ mechanic.first_name }}</p>
    <p>Last name: {{ mechanic.last_name }}</p>
    <p>Phone number: {{ mechanic.phone_number }}</p>
    <p>Address: <a href="https://www.google.ca/maps/place/{{ intera_map }}">{{ mechanic.full_address }}</a></p>
</div>
<div class="right">
    <div style="height: 640px; width: 640px" id="map-canvas"></div>
</div>
</div>
{% else %}
    <p>You shouldn't be seeing this</p>
{% endif %}

{% endblock %}
