{% extends "base.html" %}
{% load static %}

{% block title %} - Mechanic Detail{% endblock %}

{% block head_content %}
<link rel="stylesheet" type="text/css" href="{% static 'left_right.css' %}">
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-vNlhTCDa-R9HRfEmquZdIXIGmEp_Kuo">
</script>
<script type="text/javascript" src="{% static 'google_maps.js' %}">
</script>
{% endblock %}

{% block content %}

{% include 'header.html' %}

<!-- Wrap -->
<div class="wrap container" role="document">
  {% include 'messages.html' %}
  <!-- Content -->
  <div class="content row">
    <!-- Main -->
    <div class="main col-sm-8" role="main">

      <div class="page-header">
        <h1>Maps</h1>
      </div>

      <div class="page-main">

          <div class="row"><div class="col-md-12">
          {% if mechanic %}
            <h2>Static</h2>
            <p>Static map displaying mechanic's location.</p>
            </div></div>
            <img width="640px" height="640px" src="http://maps.googleapis.com/maps/api/staticmap?key=AIzaSyB-vNlhTCDa-R9HRfEmquZdIXIGmEp_Kuo&amp;size=640x640&amp;markers={{ static_map }}" alt="Mechanic map"/>
            <p>&nbsp;</p>

            <h2>Interactive</h2>
            <p>Interactive map displaying mechanic's location.</p>
            <div style="height: 640px; width: 640px" id="map-canvas"></div>
          {% else %}
            <h2>You shouldn't be seeing this.</h2>
            </div></div>
          {% endif %}

      </div>

    </div><!-- /.main -->

    <!-- Sidebar -->
    <aside class="sidebar col-sm-4" role="complementary">

      <section class="widget nav_menu-2 widget_nav_menu">
        <div>
          <h3>Mechanic Information</h3>
          <dl class="dl-horizontal">
            {% if mechanic %}
                    <dt>Email address:</dt><dd>{{ mechanic.email }}</dd>
                    <dt>First name:</dt><dd>{{ mechanic.first_name }}</dd>
                    <dt>Last name:</dt><dd>{{ mechanic.last_name }}</dd>
                    <dt>Phone number:</dt><dd>{{ mechanic.phone_number }}</dd>
                    <dt>Address:</dt><dd><a href="https://www.google.ca/maps/place/{{ intera_map }}">{{ mechanic.full_address }}</a></dd>
                <script type="text/javascript">
                    addresses.push("{{ intera_map }}");
                </script>
            {% else %}
                <dt>You shouldn't be seeing this.</dt>
            {% endif %}
          </dl>
          <ul>
            <li><a href="#">Change Me</a></li>
          </ul>
        </div>
      </section>

    </aside><!-- /.sidebar -->
  </div><!-- /.content -->
</div><!-- /.wrap -->

{% endblock %}
