{% extends "base.html" %}
{% load static %}

{% block title %} - Mechanics{% endblock %}

{% block head_content %}
<link rel="stylesheet" type="text/css"
    href="{% static 'left_right.css' %}">
<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-vNlhTCDa-R9HRfEmquZdIXIGmEp_Kuo">
</script>
<script type="text/javascript"
    src="{% static 'google_maps.js' %}">
</script>
{% endblock %}

{% block content %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<div class="container">
    <p>Locations of mechanics: (right side is interactive)</p>
    <div class="left">
        <img width="640" height="640" src="http://maps.googleapis.com/maps/api/staticmap?key=AIzaSyB-vNlhTCDa-R9HRfEmquZdIXIGmEp_Kuo&amp;size=640x640&amp;markers={{ static_map }}" alt="Mechanic map" />
        {% for mechanic in mechanics %}
            <p>This mechanics's email address is <a href="{% url 'mechanic_detail' mechanic.pk %}">{{ mechanic.email }}</a></p>
            <script type="text/javascript">
                addresses.push("{{ intera_map.pop }}");
            </script>
        {% empty %}
           There are no mechanics here.
        {% endfor %}
    </div>
    <div class="right">
        <div style="height: 640px; width: 640px" id="map-canvas"></div>
    </div>
</div>

{% endblock %}
