    {% extends "base.html" %}

{% load add_css %}

{% block title %} - Update Your {{ model_type }}{% endblock %}

{% block content %}

{% include 'header.html' %}

<!-- Wrap -->
<div class="wrap container" role="document">
    {% include 'messages.html' %}
    <!-- Content -->
    <div class="content row">
        <!-- Main -->
        <div class="main col-sm-12" role="main">
            <div class="page-header">
                <h1>Update Your {{ model_type }} Here:</h1>
            </div>
            <div class="page-main">
                <form enctype="{{ form_type }}" method="post" action="">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field|gettype|is_not_text %}
                            <div class="form-group">
                                {{ field.errors }}
                                {{ field.label_tag }}
                                {{ field }} {{ field.help_text }}
                            </div>
                        {% else %}
                            <div class="form-group">
                                {{ field.errors }}
                                {{ field.label_tag }}
                                {{ field|addcss:"class: form-control" }} {{ field.help_text }}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <input type="submit" class="btn btn-primary" value="Update" />
                </form>
            </div>
        </div><!-- /.main -->
    </div><!-- /.content -->
</div><!-- /.wrap -->

{% endblock %}
