{% extends "base.html" %}

{% block title %} - Update Your {{ model_type }}{% endblock %}

{% block head_content %}{{ form.media }}{% endblock %}

{% block content %}

{% include 'header.html' %}

<!-- Wrap -->
<div class="wrap container" role="document">
    {% include 'snippets/messages.html' %}
    <!-- Content -->
    <div class="content row">
        <!-- Main -->
        <div class="main col-sm-12" role="main">
            <div class="page-header">
                <h1>Update Your {{ model_type }} Here:</h1>
            </div>
            <div class="page-main">
                <form enctype="{{ form_type }}" method="post" action="">
                    {% csrf_token %}
                    {% for field in form %}
                        {% include 'snippets/form.html' %}
                    {% endfor %}
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Update" />
                    </div>
                </form>
            </div>
        </div><!-- /.main -->
    </div><!-- /.content -->
</div><!-- /.wrap -->

{% endblock %}
