{% extends "base.html" %}

{% load staticfiles %}
{% load add_css %}

{% block title %} - New Vehicle{% endblock %}

{% block content %}

{% include 'header.html' %}

<!-- Wrap -->
<div class="wrap container" role="document">
    {% include 'snippets/messages.html' %}
    <!-- Content -->
    <div class="content row">

        <!-- Main Register -->
        <div class="main col-sm-12" role="main">
            <div class="page-header">
                <p><h1>Enter the vehicle's information:</h1></p>
            </div>
            <div class="page-main">
                <form id="create_vehicle_form" method="post" action="{% url 'vehicle_create' %}">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.errors }}
                            {{ field.label_tag }}
                            {% if field.label_tag == 'owner' %}
                            <p>{{ user }}</p>
                            {% endif %}
                            {{ field|addcss:"class: form-control" }} {{ field.help_text }}
                        </div>
                    {% endfor %}
                    <script
                      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="pk_test_3aCn8J9IdHtqTUaCMWrABmQI"
                      data-amount="10000"
                      data-name="Request an Inspection"
                      data-description="1 Inspection ($100.00)"
                      data-image="{% static "img/NL yellow-icon.png" %}">
                    </script>
                </form>
            </div>
        </div><!-- /.main -->

    </div><!-- /.content -->
</div><!-- /.wrap -->

{% endblock %}
