{% extends "base.html" %}
{% load static %}

{% block title %} - Vehicle Detail{% endblock %}

{% block content %}

{% include 'header.html' %}

<!-- Wrap -->
<div class="wrap container" role="document">
  {% include 'messages.html' %}
  <!-- Content -->
  <div class="content row">
    <!-- Main -->
    <div class="main col-sm-8" role="main">

      <div class="page-header">
        <h1>Inspections</h1>
      </div>

        <!-- Inspections -->
        <aside class="sidebar col-sm-12" role="complementary">
          <section class="widget nav_menu-2 widget_nav_menu">
            <div>
              <ul>
                {% for inspection in vehicle.inspection_set.all %}
                  <li>
                    <dl class="dl-horizontal inspection_select" id="{{ inspection.pk }}">
                      <dt>Date:</dt><dd>{{ inspection.date }}</dd>
                      <dt>Mechanic:</dt><dd>{{ inspection.mechanic.get_full_name }}</a></dd>
                    </dl>
                  </li>
                {% empty %}
                    <li>There are no inspections for this vehicle.</li>
                {% endfor %}
                {% if not user.is_authenticated or vehicle.owner.email != user.email %}
                  <script type="text/javascript">
                    var owner = false;
                  </script>
                  {% include 'inspection_modal.html' %}
                {% else %}
                  <script type="text/javascript">
                    var owner = true;
                  </script>
                {% endif %}
              </ul>
            </div>
          </section>
        </aside><!-- /.inspections -->
    </div><!-- /.main -->

    <!-- Sidebar -->
    <aside class="sidebar col-sm-4" role="complementary">

      <section class="widget nav_menu-2 widget_nav_menu">
        <div>
            <h3>Vehicle Information</h3>
            <ul><li>
            <dl class="dl-horizontal">
            {% if vehicle %}
                <dt>VIN:</dt><dd>{{ vehicle.vin }}</dd>
                <dt>Owner:</dt><dd><a href="{% url 'seller_detail' vehicle.owner.pk %}">{{ vehicle.owner.get_full_name }}</a></dd>
                <dt>Make:</dt><dd>{{ vehicle.make }}</dd>
                <dt>Model:</dt><dd>{{ vehicle.model }}</dd>
                <dt>Year:</dt><dd>{{ vehicle.year }}</dd>
                <dt>Photo:</dt><dd>{{ vehicle.photo }}</dd>
            {% else %}
                <dt>You shouldn't be seeing this.</dt>
            {% endif %}
            </dl>
            </li></ul>

            <h3>Request Inspection</h3>
            <ul><li>
            {% if request_inspection %}
                <p>Your request for an inspection on {{ request_inspection.request_date }} is pending.
                <a href="{% url 'print_request_inspection' vehicle.vin request_inspection.pk %}">Print requested inspection</a></p>
            {% endif %}
            {% if vehicle.owner.email == user.email %}
                <form method="get" action="{% url 'pay_for_inspection' %}">
                    {% csrf_token %}
                    <input type="hidden" name="vehicle" value="{{ vehicle.vin }}">
                    <input type="submit" class="btn btn-primary" value="Request New Inspection">
                </form>
            {% else %}
                {% if not request_inspection %}
                    <p>Contact the seller about requesting an inspection.</p>
                {% endif %}
            {% endif %}
            </li></ul>
        </div>
      </section>
    </aside><!-- /.sidebar -->
  </div><!-- /.content -->
</div><!-- /.wrap -->

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static "js/inspection.js" %}"></script>
{% endblock %}
