{% extends "base.html" %}

{% block title %} - Inspection Detail{% endblock %}

{% block content %}

{% if inspection %}
    <p>Vehicle: <a href="/vehicles/{{ inspection.vehicle.vin }}">{{ inspection.vehicle }}</a></p>
    <p>Date: {{ inspection.date }}</p>
    <p>Comments: {{ inspection.comments }}</p>
    <p>Views: {{ inspection.views }}</p>
    <p>Mechanic: <a href="/mechanics/{{ inspection.mechanic.email }}">{{ inspection.mechanic }}</a></p>
{% else %}
    <p>You shouldn't be seeing this</p>
{% endif %}

{% endblock %}
