{% extends "base.html" %}

{% block title %} - Admin Detail{% endblock %}

{% block content %}

{% include 'snippets/header.html' %}

<!-- Wrap -->
<div class="wrap container" role="document">
  {% include 'snippets/messages.html' %}
  <!-- Content -->
  <div class="content row">
    <!-- Main -->
    <div class="main col-sm-8" role="main">

      <div class="page-header">
        <h1>Administration</h1>
      </div>

      <div class="page-main">

        <div class="row"><div class="col-md-12">
          <h2>Inspection Requests</h2>
          <p>The following inspection requests require assignment to a mechanic.</p>
          <ul>
            {% for request in inspection_requests %}
                <li>Vehicle VIN: {{ request.vehicle.vin }} Seller: {{ request.vehicle.owner.get_full_name }} Create: <a href="{% url 'create_inspection' request.pk %}">Click Here</a></li>
            {% empty %}
                <li>There are no inspection requests.</li>
            {% endfor %}
          </ul>
          <p>&nbsp;</p>
          <h2>Inspections</h2>
          <p>The following inspections require a vehicle history to be added.</p>
          <ul>
            {% for inspection in inspections_pend %}
                <li>Vehicle VIN: {{ inspection.vehicle.vin }} Seller: {{ inspection.vehicle.owner.get_full_name }} Update: <a href="{% url 'update_inspection' inspection.pk %}">Click Here</a></li>
            {% empty %}
                <li>There are no inspections that require vehicle history.</li>
            {% endfor %}
          </ul>
          <p>The following inspections have a vehicle history added.</p>
          <ul>
            {% for inspection in inspections_comp %}
                <li>Vehicle VIN: {{ inspection.vehicle.vin }} Seller: {{ inspection.vehicle.owner.get_full_name }} Update: <a href="{% url 'update_inspection' inspection.pk %}">Click Here</a></li>
            {% endfor %}
          </ul>
          <p>&nbsp;</p>
          <h2>Accounts</h2>
          <p>The following accounts require approval.</p>
          <ul>
            {% for base_user in base_users %}
                <li>Email: {{ base_user.email }}</li>
            {% empty %}
                <li>There are no accounts that require approval.</li>
            {% endfor %}
          </ul>
        </div></div>

      </div>

    </div><!-- /.main -->

    <!-- Sidebar -->
    <aside class="sidebar col-sm-4" role="complementary">

      <section class="widget nav_menu-2 widget_nav_menu">
        <div>
          <h3>Admin Information</h3>
          <ul><li>
            <dl class="dl-horizontal">
              {% if baseuser %}
              <style>
                /* bs3 has limits on text, embiggen them */
                .dl-horizontal dt { width: 125px; }
                .dl-horizontal dd { margin-left: 145px;}
              </style>
                <dt>First name:</dt><dd>{{ baseuser.first_name }}</dd>
                <dt>Last name:</dt><dd>{{ baseuser.last_name }}</dd>
                <dt>Email address:</dt><dd>{{ baseuser.email }}</dd>
              {% else %}
                <dt>You shouldn't be seeing this.</dt>
              {% endif %}
            </dl>
          </li></ul>
          {% if baseuser and baseuser.email == user.email %}
            <h3>Update Your Account</h3>
            <ul><li>
              <p><a href="{% url 'update_base_user' %}">Click Here</a></p>
            </li></ul>
          {% endif %}
        </div>
      </section>

    </aside><!-- /.sidebar -->
  </div><!-- /.content -->
</div><!-- /.wrap -->

{% endblock %}
